.container-clipboard-alert {
  background-color: #00c500;
  border-radius: 1rem;
  width: 200px;
  height: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}
  
.clipboard-alert-text {
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 0 0 10px black;
}