.copy-to-clipboard{
  color: #fff;
  font-size: 38px;
  display: inline-block;
  background-color: #4fbffb;
  margin-left:1rem;
  border-radius: 8px;
  padding: 3px;
  transition-duration: .3s;
}
  
.copy-to-clipboard:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #4fbffb;
}