.container-error-length-password {
  background-color: #ff3e30;
  height: 5rem;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-top: 15px solid #37306B; 
}

.text-error {
  padding: 1rem;
  margin: 0;
}