.container-length-password {
  display: flex;
  justify-content: center;
  background-color: #1e6084;
  border-top: 15px solid #37306B; 
  height: 5rem;
}

.min-ten-length-password {
  margin: 0;
  display: none;
}

.length-password-tittle {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 25px;
}

.container-input-length-password {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.length-password {
  text-align: center;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: transparent;
  color: #fff;
  padding: .5rem;
  font-weight: bold;
  border: 2px solid #4fbffb;
  border-radius: 1rem;
  margin: 0 0 0 1rem;
}

.arrow {
  background-color: transparent;
  width: 2rem;
  height: auto;
  color: #4fbffb;
  cursor: pointer;
  padding: 0 .2rem;
}

.arrow:hover {
  color: #fff;
}
  