.password-security-level-container {
  background-color: rgba(130, 114, 234, 0.6);
  display: flex;
  justify-content:center;
  padding: 1rem 0;
  margin: 1rem 0;
  height: 60px;
}

.img-text {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow:
  -.5px -.5px 0 #000,
   .5px -.5px 0 #000,
  -.5px  .5px 0 #000,
   .5px  .5px 0 #000;
}

.green-text {
  color: #3eff3e;
  text-shadow:
  -.5px -.5px 0 #000,
   .5px -.5px 0 #000,
  -.5px  .5px 0 #000,
   .5px  .5px 0 #000;
}

.red-text {
  color: #ff3e30;
  text-shadow:
  -.5px -.5px 0 #000,
   .5px -.5px 0 #000,
  -.5px  .5px 0 #000,
   .5px  .5px 0 #000;
}