.container-password {
  background-color: rgba(30, 96, 132, .3);
  color: #fff;
  letter-spacing: 1px;
  overflow-x:auto;
  width: 100%;
  border-bottom: 3px solid #4fbffb;
  border-top: 3px solid #4fbffb;
  overflow-y: hidden;
}

.password {
  padding:0 1rem;
}