.container-generate-password {
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  margin: 1rem auto;
  border-radius: 50%;
  cursor: pointer;
  background-color: #4fbffb;
  color: #fff;
  font-size: 35px;
  transition-duration: .5s;
  display: inline-block;
}

.container-generate-password:hover {
  box-shadow: 0 0 5px #4fbffb;
}

.restart-icon {
  padding: .3rem 0;
}

.firstAnimationRestartBtn {
  animation: rotate .5s linear 1;
}

.secondAnimationRestartBtn {
  animation: rotate .7s linear 3;
  transform-origin: center;
  box-shadow: 0 0 20px #1e6084;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}


  
