.btn-special-characters {
  width: 25%;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}
