body {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.main-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #37306B;
  border-radius: 1rem;
}

.container-form {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 576px) {
  .main-container {
      margin: 5vh auto;
      width: 60vw;
      max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
      margin: 10vh auto;
      width: 70vw;
      max-width: 450px;
  }
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.lines .line:nth-child(4) {
  margin-left: 45%;
}

.lines .line:nth-child(4)::after {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.lines .line:nth-child(5) {
  margin-left: -45%;
}

.lines .line:nth-child(5)::after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}