body {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: #000;
  --white: #FFF;
  --background: #37306B;
  --sky: #4fbffb;
  --skyblue:#1e6084;
  --green: rgb(62, 255, 62);
  --red: #ff3e30;
}
 
/*? DIV PRINCIPAL*/
.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--background);
  border-radius: 1rem;
}

@media screen and (min-width: 576px) {
  .container {
      margin: 5vh auto;
      width: 60vw;
      max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .container {
      margin: 10vh auto;
      width: 70vw;
      max-width: 450px;
  }
}

.container h1 {
  color: var(--white);
  padding: 3rem 3rem 1rem 3rem;
  text-transform: uppercase;
}


/*? SEGURIDAD CONTRASEÑA*/
.img_icon {
  background-color: rgba(130, 114, 234, 0.6);
  display: flex;
  justify-content:center;
  padding: 1rem 0;
  margin: 1rem 0;
  height: 60px;
}

.img_texto {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
  text-shadow:
  -.5px -.5px 0 var(--black),
   .5px -.5px 0 var(--black),
  -.5px  .5px 0 var(--black),
   .5px  .5px 0 var(--black);
}

.textoVerde {
  color: var(--green);
  text-shadow:
  -.5px -.5px 0 var(--black),
   .5px -.5px 0 var(--black),
  -.5px  .5px 0 var(--black),
   .5px  .5px 0 var(--black);
}

.textoRojo {
  color: var(--red);
  text-shadow:
  -.5px -.5px 0 var(--black),
   .5px -.5px 0 var(--black),
  -.5px  .5px 0 var(--black),
   .5px  .5px 0 var(--black);
}


/*? FORMULARIO*/
.container-formulario {
  width: 100%;
  height: auto;
}

.container_generar {
  background-color: var(--white);
  width: 3rem;
  height: 3rem;
  margin: 1rem auto;
  border-radius: 50%;
  cursor: pointer;
  background-color:var(--sky);
  color: var(--white);
  font-size: 35px;
  transition-duration: .5s;
  display: inline-block;
}

.container_generar:hover {
  box-shadow: 0 0 5px var(--sky);
}

.container_password {
  background-color: rgba(30, 96, 132, .3);
  color: var(--white);
  letter-spacing: 1px;
  overflow-x:auto;
  width: 100%;
  border-bottom: 3px solid var(--sky);
  border-top: 3px solid var(--sky);
  overflow-y: hidden;
}

.password {
  padding:0 1rem;
}

/** GENERAR CONTRASEÑA*/
.imgGenerar {
  padding: .3rem 0;
}

.animarGenerar {
  animation: girar .5s linear 1;
}

@keyframes girar {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}

.agrandarGenerar {
  animation: agrandarYgirar .7s linear 3;
  transform-origin: center;
  box-shadow: 0 0 20px var(--skyblue);
}

@keyframes agrandarYgirar {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-180deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}

/** COPIAR CONTRASEÑA*/
.copy {
  color: var(--white);
  font-size: 38px;
  display: inline-block;
  background-color: var(--sky);
  margin-left:1rem;
  border-radius: 8px;
  padding: 3px;
  cursor: pointer;
  transition-duration: .3s;
}

.copy:hover {
  box-shadow: 0 0 5px var(--sky);
}


/*? CARACTERES ESPECIALES*/
.container_caracteres {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--skyblue);
  gap: 3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.caracteres-texto {
text-transform: uppercase;
color: var(--white);
letter-spacing: 1px;
font-size: 20px;
}

.botones {
  width: 25%;
  padding: .5rem;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
  font-size: 15px;
}

.button-caracteres-especiales-rojo {
  background-color: var(--red);
  color: var(--white);
  text-shadow:
  -.5px -.5px 0 var(--black),
   .5px -.5px 0 var(--black),
  -.5px  .5px 0 var(--black),
   .5px  .5px 0 var(--black);
}

.button-caracteres-especiales-rojo:hover {
  background-color: #ff9696;
}

.button-caracteres-especiales-verde{
  color: var(--white);
  background-color: var(--green);
  margin: 0;
  text-shadow:
  -.5px -.5px 0 var(--black),
   .5px -.5px 0 var(--black),
  -.5px  .5px 0 var(--black),
   .5px  .5px 0 var(--black);
}

.button-caracteres-especiales-verde:hover {
  background-color: #7dfc8c;
}


/*? LONGITUD*/
.container_longitud {
  display: flex;
  justify-content: center;
  background-color: var(--skyblue);
  border-top: 15px solid var(--background); 
}

.container_input {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.longitud {
  text-align: center;
  width: 50px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: transparent;
  color: var(--white);
  padding: .5rem;
  font-weight: bold;
  border: 2px solid var(--sky);
  border-radius: 1rem;
  margin: 0 0 0 1rem;
}

.longitud-texto {
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
  font-size: 25px;
}

.flechas {
  background-color: transparent;
  width: 2rem;
  height: auto;
  color: var(--sky);
  cursor: pointer;
  padding: 0 .2rem;
}

.flechas:hover {
  color: var(--white);
}


/*? ERROR*/
.container_error {
  background-color: var(--red);
  height: 5rem;
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-top: 15px solid var(--background); 
}

.error {
  padding: 1rem;
  margin: 0;
}

.min10c {
  margin: 0;
  display: none;
}


/*? COPIAR*/
.container-alerta {
  background-color: #00c500;
  border-radius: 1rem;
  width: 200px;
  height: auto;
  position: absolute;
  top: 5.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alerta {
  color: var(--white);
  padding: .3rem;
  letter-spacing: 1px;
}


/*? BACKGROUND*/
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
  z-index: -1;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, var(--white)
fff), 
to(var(--white)
fff));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, var(--white)
fff 75%, var(--white)
fff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.lines .line:nth-child(4) {
  margin-left: 45%;
}

.lines .line:nth-child(4)::after {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

.lines .line:nth-child(5) {
  margin-left: -45%;
}

.lines .line:nth-child(5)::after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}